<template>
  <div class="container">
    <h2 v-if="form.id">Edit user <strong>{{form.name}}</strong></h2>
    <h2 v-else>Create user</h2>

    <b-alert :show="errorMessage !== null" variant="danger">
      {{errorMessage}}
    </b-alert>

    <b-form @submit="onSubmit" @reset="onReset" ref="form">
      <b-form-group
        id="input-group-1"
        label="Email address:"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.email"
          type="email"
          required
          placeholder="Enter email"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="form.name"
          required
          placeholder="Enter name"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Password:" label-for="input-3">
        <b-form-input
          id="input-3"
          v-model="form.password"
          :required="!form.id"
          type="password"
          minlength="6"
          :placeholder="form.id ? 'Leave blank If You wanna keep actual' : null"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-4">
        <b-form-checkbox v-model="form.is_admin">Is admin</b-form-checkbox>
      </b-form-group>

      <b-button type="submit" variant="success">
        <template v-if="form.id">Save</template>
        <template v-else>Create</template>
      </b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>


    <hr />

    <h2>Users listing</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="30%">Name</th>
          <th width="40%">Email</th>
          <th width="10%">Is admin</th>
          <th width="20%"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users" :key="user.id">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.is_admin ? 'yes' : 'no'}}</td>
          <td class="text-right">
            <button class="btn btn-primary btn-sm" @click="edit(user)">Edit</button>
            <button class="btn btn-danger btn-sm" @click="remove(user)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: '',
        name: '',
        password: '',
        is_admin: false
      },
      users: [],
      errorMessage: null
    }
  },
  async fetch() {
    await this.loadUsers()
  },
  methods: {
    onSubmit(e) {
      e.preventDefault()

      if(this.form.id) { //update user
        this.$axios.put("user/" + this.form.id, this.form).then(({data}) => {
          this.$refs.form.reset()
          this.loadUsers()

          this.$nextTick(() => {
            alert("User has been updated")
          })
        }).catch(error => {
          this.errorMessage = error.response.data.error
        })
      }
      else { //create new user
        this.$axios.post("user", this.form).then(({data}) => {
          this.$refs.form.reset()
          this.loadUsers()

          this.$nextTick(() => {
            alert("User has been created")
          })

        }).catch(error => {
          this.errorMessage = error.response.data.error
        })
      }
    },
    onReset(e) {
      this.errorMessage = null
      this.form = {
        email: '',
        name: '',
        password: '',
        is_admin: false
      }
    },
    async loadUsers() {
      //load all users
      await this.$axios.get("user").then(({data}) => {
        this.users = data
      })
    },
    edit(user) {
      this.form = JSON.parse(JSON.stringify(user))
    },
    remove(user) {
      if(!confirm("Are You sure?")) {
        return
      }

      this.$axios.delete("user/" + user.id).then(() => {
        this.loadUsers()
      })
    }
  }
}
</script>

<style>
  .container {
    margin-top: 50px;
  }
</style>
